*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#signup-modal{
    
    width: 100%;

}
#signup-modal-div{
    box-sizing: border-box;
    background-color: rgba(36,36,36,0.9);
    /* background-image: url(//qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.home_page_bg_desktop.png-26-4770753d59b970e1.png); */
    width: 100%;
    position: absolute;
    min-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    border-radius: 3px;
    font-size: calc(15px * var(--dynamic-font-scale,1));
    line-height: 1.4;
    color: rgb(40, 40, 41);
    direction: ltr;
}
#signup-modal-container{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

#signup-modal-box{
    background-color: #fff;
    width: 800px;
    border-style: solid;
    border-width: 1px;
    border-color: #dee0e1;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    display: flex;
    padding-top: 16px;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;  
}
#signup-modal-close{
    padding: 10px;
}
#signup-modal-close>img{
    width: 24px;
    cursor: pointer;

}
#signup-page-box-login-label{
    display: block;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #dee0e1;
    /* text-align: center; */
    padding: 10px;
    padding-bottom: 8px;
    color: #282829;
    font-size: calc(15px * var(--dynamic-font-scale, 1))!important;
    font-weight: 500;
}

#signup-page-box-emailBox,#signup-page-box-passwordBox,#signup-page-box-nameBox{
    display: flex;
    flex-direction: column;
    flex:1 1 0%;
    column-gap: 4px;
    /* align-items: center; */
    justify-content: center;
    padding: 10px;
}

#signup-page-box-emailBox>label,#signup-page-box-passwordBox>label,#signup-page-box-nameBox>label{

    padding-bottom: 8px;
    color: #282829;
    font-size: calc(15px * var(--dynamic-font-scale, 1))!important;
    font-weight: bold;
}
#signup-page-box-emailBox>input,#signup-page-box-passwordBox>input,#signup-page-box-nameBox>input{

    /* padding-bottom: 8px; */
    color: #282829;
    font-size: calc(15px * var(--dynamic-font-scale, 1))!important;
    font-weight:500;
    min-height: 45px;
    padding-left: 8px;
    padding-right: 8px;
    /* color: #dee0e1; */
    border-color: #dee0e1;
    border-radius:3px;
    &:active, &:focus{ 

        
        border: 2px solid #2e69ff;
        outline: none; 
        background-color: #ffffff;
        color: rgb(40, 40, 41);
        text-decoration: none;
        box-shadow: rgb(235, 240, 255) 0px 0px 0px 2px;
      }
  
      &:disabled {
        
        border-radius: 3px;
        background-color: #F9FAFB;
      }
}
#signup-form-footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 10px;
    padding-right: 4px;
    padding-bottom: 16px;
    margin-top: 4px;
    
}
#signup-form-footer>button{
    display: flex;
    align-items: center;
    font: inherit;
    padding: 0px 20px;
    transition-property: box-shadow, background-color;
    transition-duration: 60ms;
    transition-timing-function: ease-out;
    height: 38px;
    min-width: 38px;
    position: relative;
    border-width: 0px;
    outline: none;

    color: #fff;
    background-color:#7ba0fd ;
    border-radius: 1000px;
    cursor: pointer;
}
#signup-form-footer>button:hover{
    background-color: #2e69ff;
}

@media only screen and (max-width:1023px) {
    #signup-modal{
        /* height: 100%; */
    }
    #signup-modal-box{
        width: 100%;
        min-height: 100%;
        margin: 0;
    }
    #signup-modal-container{
        color: #282829;
        font-size: calc(13px * var(--dynamic-font-scale, 1))!important;
        font-weight: 500;
        width: 100%;
        margin: 0;
    }
    #signup-page-box-emailBox>label,#signup-page-box-passwordBox>label,#signup-page-box-nameBox>label{

        padding-bottom: 8px;
        color: #282829;
        font-size: calc(13px * var(--dynamic-font-scale, 1))!important;
        font-weight: bold;
    }
    #signup-page-box-emailBox>input,#signup-page-box-passwordBox>input,#signup-page-box-nameBox>input{

        /* padding-bottom: 8px; */
        color: #282829;
        font-size: calc(13px * var(--dynamic-font-scale, 1))!important;
        font-weight:400;
        min-height: 40px;
    }

}
